form {
	width: 50%;
	margin: 0 auto;
}

table {
	margin-top: 10px;
	width: 100%;
}

table, th, td {
	border: 1px solid black;
}

.input_wrap {
	display: flex;
	justify-content: space-between;
}

.input_wrap > div {
	width: 50%;
}

.database_inputs {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.database_inputs input, button {
	width: 100%;
}

.database_inputs input, legend {
	margin: 0 auto;
}

.btn_update, .checkbox, .btn_delete {
	width: 100%;
}

.update_id {
	display: none;
}